:root {
    --tinggi: 4px;
    --warna: #0071e2;
}

* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8e8e8;
}

.pemuat {
    display: block;
    width: 130px;
    height: var(--tinggi);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.pemuat::before {
    content: "";
    position: absolute;
    background: var(--warna);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: gerak 1s ease-in-out infinite;
}

@keyframes gerak {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
